.App {
  background: rgb(75, 191, 107);
  height: 100vh;
}

.Header {
  background: rgba(0, 0, 0, 0.15);
  color: white;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
  font-size: 40px;
  font-weight: 200;
}

.ProfileDropdown {
  position: absolute;
  right: 0;
  top: 0;
  background: white;
  border-radius: 5px;
  padding: 10px 10px 0 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
